---
import BlogCard from "@/components/BlogCard.astro";
import config from "@/config/config.json";
import Base from "@/layouts/Base.astro";
import { getEntry } from "astro:content";

//const { blog_folder } = config.settings;
//const postIndex = await getEntry<any, string>(blog_folder, "index");
---

<main>
	<h1>
		Blog Page
	</h1>
</main>

